homeassistant:
  packages: !include_dir_named packages
  allowlist_external_dirs:
    - www
  allowlist_external_urls:
    - https://api.openai.com/v1/
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 192.168.1.0/24
      allow_bypass_login: true

default_config: {}

recorder:
  purge_keep_days: 3  # Reduced from 7 to 3 days to minimize database growth
  auto_purge: true
  exclude:
    entities:
      # Exclude frequently changing sensors that don't need history
      - sensor.ai_exec_log_recent
      - sensor.yaml_validation_status
      - sensor.includes_validation_status
      - sensor.automation_validation_status
      - sensor.last_validation_check
      - sensor.local_flask_status_code
      - sensor.time
      - sensor.date
    entity_globs:
      # Exclude command-line sensors that update frequently
      - sensor.command_line_*
      # Exclude Bluetooth-related sensors that may be noisy
      - sensor.bluetooth_*

# Disable Bluetooth advertisement monitoring to prevent console spam and performance issues
bluetooth:
  advertisement_monitor: false

lovelace:
  mode: yaml
  resources: !include resources.yaml
  dashboards:
    # jd-dev-board:
    #   mode: yaml
    #   title: "JD Dev Board"
    #   icon: mdi:monitor-dashboard
    #   show_in_sidebar: true
    #   filename: dashboards/jd_dev_board_simple.yaml
    safe-ui:
      mode: yaml
      title: Safe UI
      icon: mdi:shield-check
      show_in_sidebar: true
      filename: dashboards/fallback/safe-ui.yaml
    card-test:
      mode: yaml
      title: "Card Test"
      icon: mdi:cards
      show_in_sidebar: true
      filename: dashboards/card-test.yaml

input_boolean: !include_dir_merge_named includes/input_booleans/
input_text: !include_dir_merge_named includes/input_texts/
input_number: !include_dir_merge_named includes/input_numbers/
input_datetime: !include_dir_merge_named includes/input_datetimes/
input_select: !include_dir_merge_named includes/input_selects/
input_button: !include_dir_merge_named includes/input_buttons/

automation: !include_dir_merge_list includes/automations/
script: !include_dir_merge_named includes/scripts/
scene: !include includes/scenes/scenes.yaml
template: !include_dir_merge_list includes/templates/
sensor: !include_dir_merge_list includes/sensors/
binary_sensor: !include_dir_merge_list includes/binary_sensors/
notify: !include_dir_merge_list includes/notify/
shell_command: !include_dir_merge_named includes/shell_commands/
rest_command: !include includes/rest_commands/rest.yaml
counter: !include_dir_merge_named includes/counters/
timer: !include_dir_merge_named includes/timers/
camera: !include camera.yaml

python_script: {}
api: {}

frontend:
  themes: !include_dir_merge_named themes

logger:
  default: warning
  logs:
    homeassistant.core: info
    homeassistant.components.automation: info
    homeassistant.components.script: info

tts:
  - platform: google_translate
    service_name: google_say


